In [1]:
import numpy as np
import pandas as pd
import time
import csv
import xlrd
import numpy as np
from datetime import datetime

data = pd.read_excel("dataset/data.xlsx")

In [2]:
data.columns

Index(['姓名', '性别', '民族', '出生地', '出生日期', '毕业院校', '专业背景', '担任职务', '履历'], dtype='object')

In [3]:
data.head()

,姓名,性别,民族,出生地,出生日期,毕业院校,专业背景,担任职务,履历
0,乙晓光,男,汉族,江苏省宿迁市,21337.0,空军保定学校,军人,中国共产党中央军事委员会联合参谋部副参谋长,"1974.03—1977, 空军保定学校学习\n1977—1979,东北空军飞行员、中队长\..."
1,丁来杭,男,汉族,浙江省杭州市,21064.0,空军第九航空学校,军人,中国人民解放军空军司令员,"—2001.12,历任空军航空兵第二十四师七十一团副团长、团长、副师长、北空训练基地司令员..."
2,丁学东,男,汉族,江苏省常州市,21947.0,中南财经政法大学,财政学,国务院副秘书长、央行货币政策委员会委员,"1987—1991,财政部工业交通财务司调研处副处长；\n1991—1994,财政部工业交通..."
3,丁薛祥,男,汉族,江苏南通,22890.0,复旦大学,行政管理,"中央政治局委员、中央书记处书记,中央办公厅主任兼国家主席办公室主任,中央直属机关工委书记","1978—1982,东北重型机械学院机械工程系锻压工艺及设备专业学习\n1982—1984,..."
4,于伟国,男,汉族,山东威海,20363.0,中国人民大学,中国文学,福建省委书记、省长,"1973.01—1973.07,江苏省太仓县长江化工厂工人\n1973.07—1977.07..."

In [4]:
len(data)

204

In [5]:
# for i in range(len(data)):
#     target = "./data/" + data.loc[i]['姓名'] + '.csv'
#     targetData = open(target, 'w', newline='', encoding='utf-8')
#     targetData.write("time,position"+'\n')
#     targetData.write(data.loc[i]['履历'])

In [6]:
for i in range(len(data)):
    path = r"./data/" + data.loc[i]['姓名'] + ".csv"
    people = pd.read_csv(path)
    
print(people)

               time                                           position
0   1970.12—1976.01                              解放军某部战士、班长、政治处、宣传处干事；
1   1976.01—1978.03                             在江苏省连云港市新海发电厂工作（党委秘书）；
2   1978.03—1985.04                                         新华社江苏分社记者；
3   1985.04—1992.05                             新华社江苏分社副社长、党组成员、党组副书记；
4   1992.05—1993.04                                    新华社山东分社社长、党组书记；
5   1993.04—1998.04                                       新华社秘书长、党组成员；
6   1998.04—1998.08                                   新华社副社长、党组成员兼秘书长；
7   1998.08—2000.08                                       新华社副社长、党组成员；
8   2000.08—2001.04                             新华社副社长、党组成员兼新华社常务副总编辑；
9   2001.04—2009.07          中共中央对外宣传办公室副主任、国务院新闻办公室副主任兼中国外文出版发行事业局局长；
10  2009.07—2009.10                        中共中央对外宣传办公室副主任、国务院新闻办公室副主任；
11  2009.10—2012.09                                          中央宣传部副部长；
12  2012.09—2013.04                                          人民日报社总编辑；
13  2013.04—2014.12                   中央宣传部副部长、中央对外宣传办公室主任、国务院新闻办公室主任；
14         2014.12—  新华社社长、党组书记、中共十六大、十七大、十八大、十九大代表、中国共产党第十八届、十九届中央...

In [7]:
# dataXlsx = xlrd.open_workbook("dataset/data.xlsx")

# table = dataXlsx.sheet_by_index(0)

# newData = data

# for i in range(len(newData)):
#     if(pd.isnull(newData.loc[i]['出生日期']) == False):
#         newData.loc[i, '出生日期'] = xlrd.xldate.xldate_as_datetime(table.cell(i+1,4).value, 0) 
#         newData.loc[i, '年龄'] = int((datetime.now() - newData.loc[i]['出生日期']).days/365) 

# del newData['履历']
# newData.to_csv('./dataProcessed.csv', encoding='utf-8', mode='w', index=False)

In [8]:
newData = pd.read_csv('./dataset/dataProcessed.csv')
newData.head()

,姓名,性别,民族,出生地,出生日期,毕业院校,专业背景,担任职务,年龄
0,乙晓光,男,汉族,江苏,1958-06-01 00:00:00,空军保定学校,军人,中国共产党中央军事委员会联合参谋部副参谋长,59.0
1,丁来杭,男,汉族,浙江,1957-09-01 00:00:00,空军第九航空学校,军人,中国人民解放军空军司令员,60.0
2,丁学东,男,汉族,江苏,1960-02-01 00:00:00,中南财经政法大学,财政学,国务院副秘书长、央行货币政策委员会委员,57.0
3,丁薛祥,男,汉族,江苏,1962-09-01 00:00:00,复旦大学,行政管理,"中央政治局委员、中央书记处书记,中央办公厅主任兼国家主席办公室主任,中央直属机关工委书记",55.0
4,于伟国,男,汉族,山东,1955-10-01 00:00:00,中国人民大学,中国文学,福建省委书记、省长,62.0

In [9]:
newData["年龄"].mean()

60.0

In [10]:
newData["年龄"].var()

11.034825870646767

In [11]:
len(newData.groupby("毕业院校").count())

89

In [12]:
newData.groupby("性别").count()

     姓名   民族  出生地  出生日期  毕业院校  专业背景  担任职务   年龄
性别
女    10   10   10    10     9     9    10   10
男   194  194  192   192   174   181   194  192

In [13]:
len(newData.groupby("出生地").count())

29

In [14]:
len(newData.groupby("专业背景").count())

83

In [15]:
newData.groupby("专业背景").count()

                          姓名  性别  民族  出生地  出生日期  毕业院校  担任职务  年龄
专业背景
中国工程院院士                    1   1   1    1     1     1     1   1
中国文学                       1   1   1    1     1     1     1   1
中国科学院院士                    1   1   1    1     1     1     1   1
中央党校大学学历                   1   1   1    1     1     1     1   1
中央党校研究生                    4   4   4    4     4     4     4   4
中央党校研究生学历                  3   3   3    3     3     3     3   3
中央党校研究生学历,高级管理人员工商管理硕士学位   1   1   1    1     1     1     1   1
中央党校研究生学历,高级编辑             1   1   1    1     1     1     1   1
中文                         2   2   2    2     2     2     2   2
信息论专业                      1   1   1    1     1     1     1   1
内燃机                        1   1   1    1     1     1     1   1
军事学硕士                      5   5   5    5     5     5     5   5
军人                        15  15  15   15    15     5    15  15
医学博士                       2   2   2    2     2     2     2   2
历史学博士                      1   1   1    1     1     1     1   1
历史学学士,教授                   1   1   1    1     1     1     1   1
合同战役指挥专业                   1   1   1    1     1     1     1   1
哲学                         1   1   1    1     1     1     1   1
哲学学士                       3   3   3    3     3     3     3   3
在职博士研究生学历                  1   1   1    1     1     1     1   1
在职研究生                      2   2   2    2     2     2     2   2
大学学历,经济师                   1   1   1    1     1     1     1   1
大学学历,高级工程师                 1   1   1    1     1     1     1   1
工商管理硕士                     6   6   6    6     6     5     6   6
工商管理硕士,高级经济师、高级政工师         1   1   1    1     1     1     1   1
工学博士                      10  10  10   10    10    10    10  10
工学博士、中国科学院院士               1   1   1    1     1     1     1   1
工学学士                       2   2   2    2     2     2     2   2
工学学士学位,高级工程师               1   1   1    1     1     1     1   1
工学硕士                       5   5   5    5     5     5     5   5
...                       ..  ..  ..  ...   ...   ...   ...  ..
法学理论                       1   1   1    1     1     1     1   1
法学硕士                      11  11  11   11    11    11    11  11
物理博士                       1   1   1    1     1     1     1   1
物理学博士                      1   1   1    1     1     1     1   1
理学博士                       1   1   1    1     1     1     1   1
电子工程                       1   1   1    1     1     1     1   1
电子技术                       1   1   1    1     1     1     1   1
研究生                        1   1   1    1     1     1     1   1
研究生学历                      1   1   1    1     1     1     1   1
社会主义专业                     1   1   1    1     1     1     1   1
管理学博士                     10  10  10   10    10    10    10  10
管理学博士,高级经济师                1   1   1    1     1     1     1   1
管理学硕士                      1   1   1    1     1     1     1   1
管理工程                       1   1   1    1     1     1     1   1
管理科学与工程专业硕士、技术经济学博士        1   1   1    1     1     1     1   1
经济学                        1   1   1    1     1     1     1   1
经济学、公共管理硕士                 1   1   1    1     1     1     1   1
经济学博士                     16  16  16   16    16    16    16  16
经济学硕士                      8   8   8    8     8     8     8   8
经济学硕士,国际关系学博士              1   1   1    1     1     1     1   1
经济管理                       5   5   5    5     5     5     5   5
经济管理专业                     2   2   2    2     2     2     2   2
自动控制系自动化                   1   1   1    1     1     1     1   1
行政管理                       1   1   1    1     1     1     1   1
财政学                        1   1   1    1     1     1     1   1
轻工二系硅酸盐专业                  1   1   1    1     1     1     1   1
马克思主义哲学                    1   1   1    1     1     1     1   1
马克思主义理论与思想政治教育专业毕业,研究生学历   1   1   1    1     1     1     1   1
高级工商管理硕士                   1   1   1    1     1     1     1   1
高级管理人员工商管理硕士               1   1   1    1     1     1     1   1

[83 rows x 8 columns]

In [16]:
len(newData.groupby("担任职务").count())

200

In [17]:
newData.groupby("民族").count()

       姓名   性别  出生地  出生日期  毕业院校  专业背景  担任职务   年龄
民族
哈萨克族    1    1    1     1     1     1     1    1
回族      2    2    2     2     2     2     2    2
壮族      2    2    2     2     2     2     2    2
汉族    188  188  186   186   168   175   188  186
满族      1    1    1     1     1     1     1    1
白族      1    1    1     1     1     1     1    1
维吾尔族    2    2    2     2     2     2     2    2
苗族      1    1    1     1     1     1     1    1
蒙古族     3    3    3     3     3     3     3    3
藏族      2    2    2     2     2     2     2    2
锡伯族     1    1    1     1     0     0     1    1

In [18]:
len(newData.groupby("民族").count())

11

In [19]:
text = newData.loc[1]['性别'] + ' ' + newData.loc[1]['出生地'] + ' ' + str(newData.loc[1]['年龄']) + ' ' + newData.loc[1]['毕业院校'] + ' ' + newData.loc[1]['专业背景'] + ' ' + newData.loc[1]['担任职务']
print(text)

男 浙江 60.0 空军第九航空学校 军人 中国人民解放军空军司令员